<div class="slider-area home">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slider-active dot-style">

                    <div class="single-slider slider-height slider-bg1 d-flex align-items-center">
                        <div class="container">
                            <div class="row slider-title">
                                <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
                                    <div class="hero-caption">
                                        <h1 data-animation="fadeInUp" data-delay=".4s">ده کتاب برتر جامعه شناسی
                                        </h1>
                                        <a href="#" class="btn hero-btn" data-animation="bounceIn"
                                           data-delay=".8s">مشاهده مقاله</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single-slider slider-height slider-bg2 d-flex align-items-center">
                        <div class="container">
                            <div class="row slider-title">
                                <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
                                    <div class="hero-caption">
                                        <h1 data-animation="fadeInUp" data-delay=".4s">همه چیز همه چیز</h1>
                                        <a href="#" class="btn hero-btn" data-animation="bounceIn"
                                           data-delay=".8s">مشاهده کتاب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single-slider slider-height slider-bg3 d-flex align-items-center">
                        <div class="container">
                            <div class="row slider-title">
                                <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
                                    <div class="hero-caption">
                                        <h1 data-animation="fadeInUp" data-delay=".4s">کار را انجام دهید</h1>
                                        <a href="#" class="btn hero-btn" data-animation="bounceIn"
                                           data-delay=".8s">خرید کتاب</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>