{% extends 'base.html' %}
{% load static %}

{% block title %}
about us
{% endblock %}

{% block description %}
{% endblock %}

{% block content %}
<main>

    <div class="breadcrumb-items">
        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'pages:home' %}" class="breadcrumb-link">صفحه اصلی</a>
                </li>
                <li class="chevron"><span class="fa fa-chevron-left"></span></li>
                <li>
                    <span class="breadcrumb-active">درباره ما</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slider-area">
                    <div class="slider-height2 slider-bg-about d-flex align-items-center justify-content-center">
                        <div class="hero-caption hero-caption2 hero-caption-about">
                            <h2>درباره ما</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about-details">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-xl-10 col-lg-8">
                    <div class="section-tittle mb-15">
                        <h2>داستان ما از کجا شروع شد؟</h2>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-9">
                    <div class="about-pera">
                        <p>فروشگاه کتاب ما با یک ایده ساده اما عمیق شکل گرفت؛ اینکه دسترسی به کتاب‌های ارزشمند باید برای
                            همه آسان باشد. ما کار خود را با علاقه‌ای واقعی به مطالعه و فرهنگ کتاب‌خوانی آغاز کردیم و
                            هدفمان از همان ابتدا ایجاد فضایی بود که علاقه‌مندان کتاب بتوانند به راحتی به آثار نویسندگان
                            محبوب خود دسترسی پیدا کنند.
                            <br>
                            در ابتدای مسیر، تمرکز ما بر معرفی و ارائه کتاب‌هایی بود که بتوانند تجربه‌ای متفاوت از مطالعه
                            برای مخاطبان ایجاد کنند. به مرور زمان، با شناخت بهتر نیازهای مخاطبان و علاقه‌مندان کتاب،
                            مجموعه ما گسترش یافت و تلاش کردیم مجموعه‌ای متنوع از کتاب‌های ادبی، علمی، آموزشی و عمومی را
                            در اختیار کاربران قرار دهیم.
                        </p>
                        <p>ما باور داریم که کتاب تنها یک محصول نیست؛ بلکه دریچه‌ای به سوی دانش، تجربه و رشد فردی است.
                            به همین دلیل همواره تلاش کرده‌ایم علاوه بر عرضه کتاب، محیطی قابل اعتماد و حرفه‌ای برای
                            علاقه‌مندان مطالعه فراهم کنیم تا بتوانند با اطمینان کتاب مورد نظر خود را پیدا کنند.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-1 col-xl-10 col-lg-8">
                    <div class="section-tittle mb-15">
                        <h2>هدف اصلی ما</h2>
                    </div>
                </div>
                <div class="offset-xl-1 col-xl-9">
                    <div class="about-pera p-0">
                        <p>هدف اصلی ما توسعه فرهنگ کتاب‌خوانی و فراهم کردن بستری مناسب برای دسترسی آسان به کتاب‌های
                            باکیفیت است. ما در فروشگاه اینترنتی کتاب خود تلاش می‌کنیم مجموعه‌ای متنوع از آثار نویسندگان
                            ایرانی و خارجی را گردآوری کنیم تا مخاطبان بتوانند با هر سلیقه‌ای کتاب مورد علاقه خود را پیدا
                            کنند.

                            در این مسیر، کیفیت خدمات، تنوع کتاب‌ها و رضایت کاربران از مهم‌ترین اولویت‌های ما هستند. ما
                            همواره تلاش می‌کنیم با به‌روزرسانی مداوم مجموعه کتاب‌ها، معرفی آثار جدید و ارائه تجربه‌ای
                            حرفه‌ای از خرید آنلاین کتاب، به یکی از منابع قابل اعتماد برای علاقه‌مندان کتاب تبدیل شویم.
                        </p>
                        <p>
                            ما باور داریم که دسترسی آسان به کتاب می‌تواند نقش مهمی در افزایش دانش، رشد فکری و توسعه
                            فرهنگی
                            جامعه داشته باشد. به همین دلیل مأموریت ما این است که پلی میان خوانندگان و دنیای گسترده
                            کتاب‌ها ایجاد کنیم و مسیر خرید کتاب آنلاین را برای همه ساده‌تر و سریع‌تر کنیم.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}